
<div class="page">
  <ix-workflow-steps 
  selected-index="{{ currentStep }}" 
  (stepSelected)="onStepSelected($event.detail)" 
  clickable
  >
    <ix-workflow-step [status]="getStatus(0)" [selected]="currentStep === 0">Access Planner</ix-workflow-step>
    <ix-workflow-step [status]="getStatus(1)" [selected]="currentStep === 1">Clean Data</ix-workflow-step>
    <ix-workflow-step [status]="getStatus(2)" [selected]="currentStep === 2">Connect Power BI</ix-workflow-step>
    <ix-workflow-step [status]="getStatus(3)" [selected]="currentStep === 3">Build Dashboard</ix-workflow-step>
    <ix-workflow-step [status]="getStatus(4)" [selected]="currentStep === 4">Automate Sync</ix-workflow-step>
  </ix-workflow-steps>

  <div class="content">
    <!-- <ng-container [ngSwitch]="currentStep">
      <div *ngSwitchCase="0">
        <h2>📁 Access Planner Tasks</h2>
        <p>Connect using CSV export or API.</p>
        <button (click)="nextStep()">Next →</button>
      </div>
  
      <div *ngSwitchCase="1">
        <h2>🧹 Clean Data</h2>
        <p>Format status, date, assignee in Excel/SharePoint.</p>
        <button (click)="nextStep()">Next →</button>
      </div>
  
      <div *ngSwitchCase="2">
        <h2>📊 Connect to Power BI</h2>
        <p>Load data into Power BI, define types.</p>
        <button (click)="nextStep()">Next →</button>
      </div>
  
      <div *ngSwitchCase="3">
        <h2>🎨 Build Dashboard</h2>
        <p>Add visuals like Gantt, Gauge, and Matrix.</p>
        <button (click)="nextStep()">Next →</button>
      </div>
  
      <div *ngSwitchCase="4">
        <h2>🔁 Automate</h2>
        <p>Setup Power Automate to sync Planner into SharePoint or Excel.</p>
        <button disabled>✅ Done</button>
      </div>
    </ng-container> -->
    <ng-container [ngSwitch]="currentStep">
      <app-step-access-planner *ngSwitchCase="0" (nextStep)="nextStep()"></app-step-access-planner>
      <app-step-clean-data *ngSwitchCase="1" (nextStep)="nextStep()" (previousStep)="previousStep()"></app-step-clean-data>
      <app-step-connect-powerbi *ngSwitchCase="2" (nextStep)="nextStep()" (previousStep)="previousStep()"></app-step-connect-powerbi>
      <app-step-build-dashboard *ngSwitchCase="3" (nextStep)="nextStep()" (previousStep)="previousStep()"></app-step-build-dashboard>
      <app-step-automate-sync *ngSwitchCase="4" (previousStep)="previousStep()"></app-step-automate-sync>
    </ng-container>
  </div>
  
</div>

